@font-face {
  font-family: 'ZedMonoNerdFont';
}

:root {
    --sl-content-width: 60rem;
    --sl-sidebar-width: 18.75rem;
}

.code {
    width: fit-content;
    padding: 0rem 0.5rem;
}

.color-swatch { 
  display: inline-block; 
  width: 20px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;
}

.hero img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
}
