---
const { authors } = Astro.props;
---

{authors?.length > 0 && (
  <p class="authors">
    By {authors.map((a, i) => (
      <span>
        {a.email ? <a href={`mailto:${a.email}`}>{a.name}</a> : a.name}
        {i < authors.length - 1 && ', '}
      </span>
    ))}
  </p>
)}

<style>
  .authors {
    color: var(--sl-color-gray-3);
    font-size: var(--sl-text-sm);
    margin-top: 0.5rem;
  }
</style>
